In [99]:
import pandas as pd
import numpy as np
from matplotlib import *
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
from operator import attrgetter

In [ ]:
df = pd.read_csv("ECParts.csv")

In [101]:
Licences = df["Spare6"].value_counts()
print(Licences)

Spare6
OGEL    450
SIEL     70
Yes      24
Name: count, dtype: int64

In [102]:
MLCodes = df['Spare5'].value_counts()
print(MLCodes)

Spare5
ML5b          196
ML10A          37
ML4A           27
ML9A           21
ML5a           18
ML11a          16
ML5c           14
ML4a           13
ML18A          12
ML6A           12
ML5A           10
ML14            9
ML18            8
ML              6
Ml5b            6
ML11            6
Ml10A           5
ML5B            5
ML4b            4
ML4             4
ML5             4
ML9c            4
ML10C           3
ML5d            3
ML15D           3
ML10            2
ML18a           2
ML9A1           2
ML11e           1
ML11A           1
ML2A            1
5A001b          1
ML3A            1
ML4B            1
ML10a           1
10a OME         1
ML2a            1
ML 4b1          1
ML14 OME        1
ML18b           1
ML4b1           1
ML4B1           1
ML14 OME\r      1
ML11E           1
ML4c            1
ML 5a           1
ml5b            1
ML-11a          1
Ml4A            1
ML14A           1
ML9a1           1
Ml11a           1
ML6a            1
5b OME          1
Ml5b1           1
Name: count, dtype: int64

In [103]:
RepeatPart = df['Aalpha2'].value_counts()
print(RepeatPart)

Aalpha2
New         345
Up Issue    100
Re-Tool      69
Repeat       25
Up issue      1
Retool        1
Name: count, dtype: int64

In [104]:

def DateSplitMethod(Column):
    df[f'{Column}'] = pd.to_datetime(df[f'{Column}'], format="mixed" , dayfirst=True)

    attr_list = ['day', 'month', 'year']
    attrs = attrgetter(*attr_list)
    df[attr_list] = df[f'{Column}'].apply(attrs).apply(pd.Series)
    
    print(df['year'].value_counts())
    
DateSplitMethod(Column="Date")

year
2023.0    112
2024.0    107
2022.0     99
2021.0     64
2019.0     59
2020.0     58
2016.0     14
2018.0     14
2017.0     13
2013.0      2
2014.0      2
2012.0      1
2015.0      1
Name: count, dtype: int64

In [105]:
DateSplitMethod(Column="Toolingdate")

year
2023.0    114
2024.0    103
2022.0     96
2021.0     64
2019.0     58
2020.0     56
2016.0     14
2018.0     13
2017.0     11
2014.0      3
2012.0      1
2013.0      1
2015.0      1
Name: count, dtype: int64

In [106]:
DateSplitMethod(Column="Spared")

year
2016.0    7
2015.0    4
2021.0    1
2024.0    1
2022.0    1
Name: count, dtype: int64

In [107]:
print(df['Customer'].value_counts())

Customer
Elmatica AS Germany               293
Elmatica AS Norway                 62
NCAB Group SWEDEN AB               52
Elmatica GmBH                      39
Confidee AS                        21
NCAB Group Norway                  20
Centum Electronics                 15
Confidee AB                        10
NCAB GROUP IBERIA S.A.U.            6
NCAB Group Benelux B.V.             5
NCAB Sweden                         3
Elmatica                            3
NCAB Group Finland OY               3
Confidee GmbH                       3
Thales Defense & Security, Inc      3
Renishaw PLC                        2
NCAB France                         2
Thales Defense & Secuirty, Inc      2
Intracom Defense Single Member      2
NCAB Group Sweden                   1
HCD                                 1
Zettlex UK Ltd                      1
NCAB Norway                         1
Thales Nederland B.V.               1
Name: count, dtype: int64

In [108]:
print(df['Numm2'].value_counts())

Numm2
1.0    325
4.0    112
6.0     53
2.0     13
0.0      9
5.0      6
3.0      4
Name: count, dtype: int64